<section class="history">
  <header class="header">
    <h1 class="header__title">Transactions</h1>
    <img class="header__search" src="assets/icons/search-interface-symbol.svg" alt="search">
  </header>

  <section class="content">
    @for (transactions of transactionHistory; track transactions.id) {
      <section class="content__date">
        <div>{{transactions.title}}</div>
        <ul class="list">
          @for (transactionItem of transactions.transactionList; track transactionItem.id) {
            <li class="list__item">
              <section class="list__content">
                <img [src]="transactionItem.logo">
                <div class="list__description">
                  <div class="list__title">{{transactionItem.title}}</div>
                  <time class="list__date">{{transactionItem.date}}</time>
                </div>
              </section>
              <section class="list__balance" [ngClass]="{'list__balance--expense': transactionItem.balance < 0, 'list__balance--income': transactionItem.balance >= 0}">
                {{transactionItem.balance | currency}}
              </section>
            </li>
          }
        </ul>
      </section>
    }
  </section>

</section>
