<section class="history">
  <header class="header">
    <h1 class="header__title">Transactions</h1>
    <img class="header__search" src="assets/icons/search-interface-symbol.svg" alt="search">
  </header>

  <section class="content">
    <section class="content__date">
      <div>Yesterday</div>
      <ul class="list">
        @for (transaction of transactionHistory; track transaction.id) {
          <li class="list__item">
            <section class="list__content">
              <img [src]="transaction.logo">
              <div class="list__description">
                <div class="list__name">{{transaction.title}}</div>
                <time class="list__date">{{transaction.date}}</time>
              </div>
            </section>
            <section class="list__balance" [ngClass]="{'list__balance--expense': transaction.balance < 0, 'list__balance--income': transaction.balance >= 0}">
              {{transaction.balance | currency}}
            </section>
          </li>
        }
      </ul>
    </section>
  </section>

</section>
