:host {
  display: flex;
  justify-content: space-between;
}

.action {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color_primary);
}

.action:hover {
  opacity: 0.7;
}

.action:active {
  transform: scale(0.9);
}

.circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--color_primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
