/* You can add global styles to this file, and also import other style files */

:root {
  --color_primary: #366AB2;
  --color_expense: #FE263F;
  --color_income: #18AA15;
  --color_white: #FFF;
}

body {
  font-size: 16;
  font-family: 'Roboto', sans-serif;
}
